*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
}

#container{
    height: 100%;
    width: 500px;
    margin-top: 30px;
}

#coverBar{
    height: 100px;
    background-color: teal;
    display: flex;
    padding-left: 30px;
}

#coverBar>img{
    height: 70px;
    width: 70px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    top: 60px;
}

#info{
    height: 250px;
    padding-left: 20px;
    padding-top: 40px;
    border: 2px solid gray;

}

h1{
    margin-bottom: 10px;
}
#info>img{
    height: 20px;
    display: inline-block;
    padding-right: 5px;
}


#seat{
    display: inline;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 30px;
}

#topLine{
    padding-top: 10px;
}

#bottomLine{
    padding-bottom: 15px;
}



