body{
    background-color: gray;
}

h1{
    color:rebeccapurple;
    background-color: blanchedalmond;
    font-size: 56px;
    text-align: center;
}

#slogan{
    color: firebrick;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

#facts{
    color: maroon;
}

li{
    color:chartreuse;
    font-weight: bold;
}

.crossed{
    text-decoration: line-through;
    font-size: 30px;
}

button{
    background-color: aquamarine;
    font-size: 18 px;
    display: block;
    margin-bottom: 40px;
}

#middleBtn{
    height: 100px;
    width: 100px;

}

.round{ 
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: red;

}

#lastBtn{
    border-radius: 30px;
    width: 200px;
}

.shadow{
    box-shadow: 3px 3px 3px black;
}