button{
    display: block;
    margin-bottom: 10px;
}

#search{
    
    border-radius: 30px;
    border-color:lightseagreen;
    color:lightseagreen;
    background-color:ghostwhite;
    height: 20px;
    width: 150px;
}

#plus{
    border-radius: 50%;
    border-color: white;
    color: white;
    font-size: 40px;
    background-color: aquamarine;
    height: 50px;
    width: 50px;
    text-align: center;
}

#createAcc{
    border-color: black;
    color: white;
    background-color:dodgerblue;
    height: 30px;
    width: 200px;
    box-shadow: 3px 3px 1px black;
    font-size: 20px;
}